.header {
    padding: 1rem 0rem 3rem;
}

.title{
    color: black;
    font-size: 3rem;
    text-decoration: none;
}

.nav_list{
    display: flex;
    margin: 0;
    list-style-type: none;
}

.nav_item{
    text-decoration: none;
    color : #999999;
    margin-right: 1.3rem;
    font-size: .9rem;
}

.nav_item:hover{
    color : #666666
}

.active_nav_item{
    color: #333333
}
